# **Modern Python**

- https://www.w3schools.com/python/default.asp
- https://peps.python.org/

In [1]:
name : str = "Farhan"
print(name)

Farhan

In [2]:
name : float = 700
print(name)

700

In [3]:
name : bool = True
print(name)

True

In [4]:
names : list[str] = ["Farhan", "Lahore", "Karachi"]
print(names)
print(type(names))

['Farhan', 'Lahore', 'Karachi']
<class 'list'>

In [5]:
names : tuple[str, int, float] = ("Farhan", 700, 25.5)
print(names)
print(type(names))

('Farhan', 700, 25.5)
<class 'tuple'>

In [6]:
from typing import Any
names_any_elements: list[Any] = ["Farhan", 700, 25.5, True]
print(names_any_elements)
print(type(names_any_elements))

['Farhan', 700, 25.5, True]
<class 'list'>

In [7]:
from typing import Any

names_any_elements: tuple[Any, ...] = ("Farhan", 700, 25.5, True)
print(names_any_elements)
print(type(names_any_elements))
# This means a tuple of any length, where each element can be any type.
# It's less specific than your original.

('Farhan', 700, 25.5, True)
<class 'tuple'>

In [8]:
name = "Farhan"
greetings = "Hi"

say_greetings : str = f'{greetings}, {name}'
print(say_greetings)

Hi, Farhan

In [9]:
name = "Farhan"
greetings = "Hi"

say_greetings : str = f'{greetings}, {name}'
print(say_greetings)

Hi, Farhan

In [10]:
text : str = '''My name is Muhammad Farhan Aslam.
I'm a machine learning engineer and Data Scienctist.
I love to learn AI.
'''
print(text)

My name is Muhammad Farhan Aslam.
I'm a machine learning engineer and Data Scienctist.
I love to learn AI.

In [11]:
print(len(text))

107

## **Python String Methods**

In [12]:
text.capitalize()  # Converts the first character to upper case

"My name is muhammad farhan aslam.\ni'm a machine learning engineer and data scienctist.\ni love to learn ai.\n"

In [13]:
text.casefold()  # Converts string into lower case

"my name is muhammad farhan aslam.\ni'm a machine learning engineer and data scienctist.\ni love to learn ai.\n"

In [14]:
text = "  Muhammad Farhan Aslam"
centered_text = text.center(10)   # Returns a centered string
print(centered_text)

  Muhammad Farhan Aslam

In [15]:
text = "Muhammad Farhan Aslam"
count = text.count("Muhammad")  # Returns the number of times a specified value occurs in a string
print("count:", count)

count: 1

In [16]:
text = "Muhammad Farhan Aslam"
encode = text.encode()  # Returns an encoded version of the string
print("encode:", encode)

encode: b'Muhammad Farhan Aslam'

In [17]:
text = "Muhammad Farhan Aslam"
text = text.endswith(".")   # Returns true if the string ends with the specified value
print(text)

False

In [18]:
text = "Muhammad\tFarhan\tAslam"
text = text.expandtabs(2)   # Sets the tab size of the string
print(text)

Muhammad  Farhan  Aslam

In [19]:
text = "Muhammad Farhan Aslam"
text = text.find("Farhan")  # Searches the string for a specified value and returns the position of where it was found
print(text)

9

In [20]:
text = "My salary is {price:.0f} dollars!"
text = text.format(price = 2000)  # Formats specified values in a string
print(text)

My salary is 2000 dollars!

In [21]:
name_dict = {"name" : "Muhamamd Farhan Aslam", "age" : 22}
txt = "Happy birthday {name} you are now on level {age}!"
txt = txt.format_map(name_dict)  # Formats specified values from a dictionary in a string
print(txt)

Happy birthday Muhamamd Farhan Aslam you are now on level 22!

In [22]:
txt = "hello world"
print(txt.find("world"))  # Searches for "world" and returns index: 6

6

In [23]:
txt = "hello world"
print(txt.index("world"))  # Like find(), but raises error if not found: 6

6

### **Validation / Check Methods**

In [24]:
txt = "abc123"
print(txt.isalnum())  # True – all characters alphanumeric

True

In [25]:
txt = "Python"
print(txt.isalpha())  # True – all letters

True

In [26]:
txt = "hello123!"
print(txt.isascii())  # True – all ASCII

True

In [27]:
txt = "12345"
print(txt.isdecimal())  # True – only decimal digits

True

In [28]:
txt = "123"
print(txt.isdigit())  # True – only digits

True

In [29]:
txt = "my_var1"
print(txt.isidentifier())  # True – valid Python identifier

True

In [30]:
txt = "hello"
print(txt.islower())  # True – all lowercase

True

In [31]:
txt = "123"
print(txt.isnumeric())  # True – numeric characters

True

In [32]:
txt = "hello world!"
print(txt.isprintable())  # True – all printable

True

In [33]:
txt = "   \t\n"
print(txt.isspace())  # True – only whitespace

True

In [34]:
txt = "My Title Here"
print(txt.istitle())  # True – title case

True

In [35]:
txt = "HELLO"
print(txt.isupper())  # True – all uppercase

True

### **Join, Justify, Strip, Case Methods**

In [36]:
date = "-".join(["2025", "06", "27"])
print(date)  # Joins with hyphens: 2025-06-27

2025-06-27

In [37]:
txt = "hello"
print(txt.ljust(10, "."))  # Left-justifies: 'hello.....'

hello.....

In [38]:
txt = "HELLO"
print(txt.lower())  # Converts to lowercase: hello

hello

In [39]:
txt = "   hello"
print(txt.lstrip())  # Trims left whitespace: 'hello'

hello

In [40]:
txt = "apple"
table = str.maketrans("ae", "12")
print(txt.translate(table))  # Translates a → 1, e → 2 → "1ppl2"

1ppl2

In [41]:
txt = "hello world"
print(txt.partition(" "))  # Splits once at space: ('hello', ' ', 'world')

('hello', ' ', 'world')

In [42]:
txt = "hello world"
print(txt.replace("world", "Python"))  # Replaces word: 'hello Python'

hello Python

In [43]:
txt = "hello hello"
print(txt.rfind("hello"))  # Finds last occurrence: 6

6

In [44]:
txt = "hello hello"
print(txt.rindex("hello"))  # Same as rfind but raises error if not found: 6

6

In [45]:
txt = "hello hello"
print(txt.rindex("hello"))  # Same as rfind but raises error if not found: 6

6

In [46]:
txt = "hello"
print(txt.rjust(10, "."))  # Right-justifies: '.....hello'

.....hello

In [47]:
txt = "2025-06-27"
print(txt.rpartition("-"))  # Partitions from right: ('2025-06', '-', '27')

('2025-06', '-', '27')

In [48]:
txt = "a,b,c"
print(txt.rsplit(",", 1))  # Right split once: ['a,b', 'c']

['a,b', 'c']

In [49]:
txt = "hello   "
print(txt.rstrip())  # Trims right whitespace: 'hello'

hello

In [50]:
txt = "a b c"
print(txt.split())  # Splits by whitespace: ['a', 'b', 'c']

['a', 'b', 'c']

In [51]:
txt = "line1\nline2"
print(txt.splitlines())  # Splits by line breaks: ['line1', 'line2']

['line1', 'line2']

In [52]:
txt = "hello world"
print(txt.startswith("hello"))  # True – starts with "hello"

True

In [53]:
txt = "  hello  "
print(txt.strip())  # Trims both sides: 'hello'

hello

In [54]:
txt = "Hello WORLD"
print(txt.swapcase())  # Swaps case: hELLO world

hELLO world

In [55]:
txt = "hello world"
print(txt.title())  # Converts to title case: Hello World

Hello World

In [56]:
txt = "HELLO"
print(txt.upper())  # Converts to uppercase: HELLO

HELLO

In [57]:
txt = "42"
print(txt.zfill(5))  # Pads with zeros: 00042

00042

### **Python List/Array Methods**

In [58]:
# append() – Adds an element to the end
fruits = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

In [59]:
# clear() – Removes all elements
fruits = ["apple", "banana"]
fruits.clear()
print(fruits)

[]

In [60]:
# copy() – Returns a copy of the list
fruits = ["apple", "banana"]
print(fruits)
copied = fruits.copy()
fruits.append("cherry")
print(fruits)
print(copied)

['apple', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana']

In [61]:
# count() – Counts occurrences of a value
nums = [1, 2, 2, 3, 2]
print(nums.count(2))

3

In [62]:
# extend() – Adds elements from another iterable
a = [1, 2]
b = [3, 4]
a.extend(b)
print(a)  # [1, 2, 3, 4]

[1, 2, 3, 4]

In [63]:
# index() – Returns index of first match
names = ["Abubakar", "Umar", "Usman", "Ali"]
print(names.index("Ali"))

3

In [64]:
# insert() – Inserts at specific index
fruits = ["apple", "banana"]
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana']

In [65]:
# pop() – Removes item at index (last by default)
fruits = ["apple", "banana", "cherry"]
fruits.pop()
print(fruits)

['apple', 'banana']

In [66]:
# remove() – Removes first matching item
fruits = ["apple", "banana", "apple"]
fruits.remove("apple")
print(fruits)

['banana', 'apple']

In [67]:
# reverse() – Reverses list order
nums = [1, 2, 3]
nums.reverse()
print(nums)

[3, 2, 1]

In [68]:
# sort() – Sorts the list in ascending order
nums = [3, 1, 2]
nums.sort()
print(nums)

[1, 2, 3]

## **Python Dictionary Methods**

In [69]:
# clear() – Removes all items from the dictionary
info = {"name": "Farhan", "age": 22}
info.clear()
print(info)

{}

In [70]:
# copy() – Returns a shallow copy
original = {"name": "Farhan", "age": 22}
copied = original.copy()
print(copied)

{'name': 'Farhan', 'age': 22}

In [71]:
# fromkeys() – Creates dictionary from keys and one value
keys = ["name", "age"]
default_dict = dict.fromkeys(keys, "unknown")
print(default_dict)

{'name': 'unknown', 'age': 'unknown'}

In [72]:
# get() – Returns value for given key
person = {"name": "Farhan", "age": 22}
print(person.get("name"))  # Farhan
print(person.get("city", "Not Found"))

Farhan
Not Found

In [73]:
# items() – Returns all key-value pairs as tuples
person = {"name": "Farhan", "age": 22}
print(list(person.items()))

[('name', 'Farhan'), ('age', 22)]

In [74]:
# keys() – Returns all keys
person = {"name": "Farhan", "age": 22}
print(list(person.keys()))

['name', 'age']

In [75]:
# pop() – Removes item with specified key
person = {"name": "Farhan", "age": 22}
person.pop("age")
print(person)

{'name': 'Farhan'}

In [76]:
# popitem() – Removes last inserted key-value pair
person = {"name": "Farhan", "age": 22}
person.popitem()
print(person)  # {'name': 'Farhan'} or {'age': 22}, depending on insertion order (Python 3.7+ maintains order)

{'name': 'Farhan'}

In [77]:
# setdefault() – Gets value or sets if not exists
person = {"name": "Farhan"}
person.setdefault("age", 22)
print(person)

{'name': 'Farhan', 'age': 22}

In [78]:
# update() – Updates with new key-value pairs
person = {"name": "Farhan"}
person.update({"age": 22, "city": "Lahore"})
print(person)

{'name': 'Farhan', 'age': 22, 'city': 'Lahore'}

In [79]:
# values() – Returns all values
person = {"name": "Farhan", "age": 22}
print(list(person.values()))

['Farhan', 22]

## **Python Tuple Methods**

In [80]:
# count() – Returns number of times a value occurs in the tuple
nums = (1, 2, 3, 2, 4, 2)
nums.count(2)

3

In [81]:
# index() – Returns the index of the first occurrence of a value
names = ("Abubakar", "Farhan", "Ahmed", "Ali")
names.index("Ali")

3

## **Python Set Methods**

In [82]:
# add() – Adds an element to the set
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [83]:
# clear() – Removes all elements from the set
s = {1, 2, 3}
s.clear()
print(s)

set()

In [84]:
# copy() – Returns a shallow copy of the set
s = {1, 2, 3}
copy_s = s.copy()
s.add(4)
print(s)
print(copy_s)

{1, 2, 3, 4}
{1, 2, 3}

In [85]:
# difference() – Returns elements of one set but not in others
a = {1, 2, 3}
b = {2, 3, 4}
diff = a.difference(b)  # The element 1 of set a is not in set b
print(diff)

{1}

In [86]:
# difference_update() – Removes common elements found in another set
a = {1, 2, 3, 4}
b = {2, 3, 4}
diff_update = a.difference_update(b)
print(diff_update)

None

In [87]:
# discard() – Removes an item if present (no error if not)
s = {1, 2, 3}
s.discard(2)
print(s)

{1, 3}

In [88]:
# intersection() – Returns common elements
a = {1, 2, 3}
b = {2, 3, 4}
intersection = a.intersection(b)
print(intersection)

{2, 3}

In [89]:
# intersection_update() – Keeps only items found in both sets
a = {1, 2, 3}
b = {2, 3, 4}
intersec_update = a.intersection_update(b)
print(intersec_update)

None

In [90]:
# isdisjoint() – Checks if sets have no elements in common
a = {1, 2, 3}
b = {3, 4}
disjoint = a.isdisjoint(b)
print(disjoint)

False

In [91]:
# issubset() – Checks if all elements of one set are in another
a = {1, 2}
b = {1, 2, 3}
subset = a.issubset(b)
print(subset)

True

In [92]:
# issuperset() – Checks if a set contains all elements of another
a = {1, 2, 3}
b = {1, 2}
superset = a.issuperset(b)
print(superset)

True

In [93]:
# pop() – Removes and returns an arbitrary element
s = {1, 2, 3}
s.pop()
print(s)

{2, 3}

In [94]:
# remove() – Removes a specific element (raises error if not found)
s = {1, 2, 3}
s.remove(2)
print(s)

{1, 3}

In [95]:
# symmetric_difference() – Elements in either set but not both
a = {1, 2}
b = {2, 3}
sym_diff = a.symmetric_difference(b)
print(sym_diff)

{1, 3}

In [96]:
# symmetric_difference_update() – Updates with symmetric difference
a = {1, 2}
b = {2, 3}
sym_diff_update = a.symmetric_difference_update(b)
print(sym_diff_update)

None

In [97]:
# union() – Returns all elements from both sets
a = {1, 2}
b = {3, 4}
union = a.union(b)
print(union)

{1, 2, 3, 4}

In [98]:
# update() – Adds all elements from another set
a = {1, 2}
b = {3, 4}
update = a.update(b)
print(update)

None

## **Python File Methods**

In [99]:
# close() – Closes the file
f = open("example.txt", "w")
f.close()

In [100]:
import io

# Create a binary stream
binary_stream = open("example.txt", "wb+")

# Wrap it in a text buffer
text_stream = io.TextIOWrapper(binary_stream, encoding='utf-8')

# Write something to the file
text_stream.write("Hello Detach!\n")
text_stream.flush()

# Detach the underlying binary buffer from the text wrapper
raw_stream = text_stream.detach()

# Now 'text_stream' is unusable; we work directly with raw_stream
raw_stream.write(b"Binary Write\n")
raw_stream.close()

In [101]:
# fileno() – Returns OS-level file descriptor
f = open("example.txt", "w")
print(f.fileno())
f.close()

3

In [102]:
# flush() – Flushes write buffer to disk
f = open("example.txt", "w")
f.write("Hello")
print(f.flush())
f.close()

None

In [103]:
# isatty() – Checks if file is connected to terminal (usually False for files)
f = open("example.txt", "r")
print(f.isatty())
f.close()

False

In [104]:
# read() – Reads entire file content
f = open("example.txt", "r")
print(f.read())
f.close()

Hello

In [105]:
# readable() – Checks if file is readable
f = open("example.txt", "r")
print(f.readable())
f.close()

True

In [106]:
# readline() – Reads a single line from the file
f = open("example.txt", "r")
print(f.readline())
f.close()

Hello

In [107]:
# close() – Closes the file
f = open("example.txt", "w")
f.write("Hello \nMy name is Muhammad Farhan Aslam.")
f.close()

In [108]:
# readlines() – Reads all lines into a list
f = open("example.txt", "r")
print(f.readlines())
f.close()

['Hello \n', 'My name is Muhammad Farhan Aslam.']

In [109]:
# seek() – Moves file pointer to specified position
f = open("example.txt", "r")
print(f.seek(4))
f.close()

4

In [110]:
# seekable() – Checks if file supports seek()
f = open("example.txt", "r")
print(f.seekable())
f.close()

True

In [111]:
# tell() – Returns current file pointer position
f = open("example.txt", "r")
print(f.tell())
f.close()

0

In [112]:
# truncate() – Truncates file to a specified size
f = open("example.txt", "w")
f.write("Hello World")
print(f.truncate(5))
f.close()

5

In [113]:
# writable() – Checks if file is writable
f = open("example.txt", "w")
print(f.writable())
f.close()

True

In [114]:
# write() – Writes a string to the file
f = open("example.txt", "w")
print(f.write("Hello\n"))
f.close()

6

In [115]:
# writelines() – Writes a list of strings to the file
f = open("example.txt", "w")
f.writelines(["Line 1\n", "Line 2\n"])
f.close()

In [116]:
# readlines() – Reads all lines into a list
f = open("example.txt", "r")
print(f.readlines())
f.close()

['Line 1\n', 'Line 2\n']

## **Python Keywords**

In [117]:
# and – Logical AND
x = 5
if x > 2 and x < 10:
    print("x is between 2 and 10")

x is between 2 and 10

In [118]:
# as – Create alias for module
import math as m
print(m.sqrt(16))

4.0

In [119]:
import importlib
import utils
importlib.reload(utils)
from utils import calculate_square
import inspect

In [120]:
# Confirm the source code (optional but helpful for debugging)
print(inspect.getsource(calculate_square))

# Your list of numbers
nums = [2, 4, 6]

# Iterate and print the results
print("Calculating squares:")
for res in calculate_square(nums):
    print(res)

def calculate_square(numbers):
    for n in numbers:
        time.sleep(1)
        yield f"Square: {n ** 2}"

Calculating squares:
Square: 4
Square: 16
Square: 36

In [121]:
# assert – Debugging check
assert 2 + 2 == 4

In [122]:
assert 2 + 2 == "Math is broken"

AssertionError:

In [123]:
# break – Exit a loop
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [124]:
# class – Define a class
class Person:
    def __init__(self, name):
        self.name = name

In [125]:
# continue – Skip to next loop iteration
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [126]:
# def – Define a function
def greet(name):
    return f"Hello, {name}"

greet("Farhan")

'Hello, Farhan'

In [127]:
# del – Delete an object
a = [1, 2, 3]
del a[2]   # By index
print(a)

[1, 2]

In [128]:
# elif – Else if in conditions
x = 10
if x < 5:
    print("small")
elif x < 15:
    print("medium")

medium

In [129]:
# else – Final fallback in conditions
if x < 5:
    print("small")
else:
    print("large")

large

In [130]:
# except – Handle exception
try:
    1 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

In [131]:
# True – Boolean value
flag = True
if flag:
    print("Flag is True")

Flag is True

In [132]:
# False – Boolean value
flag = False
if not flag:
    print("Flag is False")

Flag is False

In [133]:
# finally – Always runs in try block
try:
    x = 10 / 2
except:
    print("Error")
finally:
    print("Cleanup")

Cleanup

In [134]:
# finally – Always runs in try block
try:
    x = 1 / 0
except:   # if try block fail to execute, then it executes
    print("Error")
finally:  # always run
    print("Cleanup")

Error
Cleanup

In [135]:
# for – Looping
for i in [1, 2, 3]:
    print(i)

1
2
3

In [136]:
# from – Import specific parts
from math import pi
print(pi)

3.141592653589793

In [137]:
# global – Modify global variable
x = 0
print(x)
def set_global():
    global x
    x = 100
    print("x:", x)

set_global()
print(x)

0
x: 100
100

In [138]:
# if – Conditional
if x == 0:
    print("x is zero")

In [139]:
# import – Import entire module
import random
print(random.randint(1, 10))

10

In [140]:
# in – Membership test
if "a" in "apple":
    print("found 'a'")

found 'a'

In [141]:
# is – Object identity
a = True
if a is None:
    print("a is None")

In [142]:
# lambda – Anonymous function
square = lambda x: x * x
print(square(4))

16

In [143]:
# None – Null value
data = None
if data is None:
    print("No data")

No data

In [144]:
# nonlocal – Modify variable in outer (not global) scope
def outer():
    x = "outer"
    print("outer:", x)
    def inner():
        nonlocal x
        x = "inner"
    inner()
    print("inner:", x)

outer()

outer: outer
inner: inner

In [145]:
# not – Logical NOT
if not False:
    print("This is True")

This is True

In [146]:
# or – Logical OR
x = 5
if x < 0 or x > 3:
    print("x is outside 0–3")

x is outside 0–3

In [147]:
# pass – Do nothing
def do_nothing():
    pass

do_nothing()

In [148]:
# return – Return from function
def add(a, b):
    result = a + b
    return result

add(1,2)

3

In [149]:
# True – Boolean value
if True:
    print("This is always true")

This is always true

In [150]:
# try – Try block for error handling
try:
    print(10 // 0)
except ZeroDivisionError:
    print("ZeroDivisionError")

ZeroDivisionError

In [151]:
# while – While loop
i = 0
while i < 3:
    print(i)
    i += 1

0
1
2

In [152]:
# with – Context manager (e.g. for file)
with open("example.txt", "w") as f:
    f.write("Hello")

In [153]:
# yield – Generator function
def countdown(n):
    while n > 0:
        yield n
        n -= 1

In [154]:
def countdown(n):
    while n > 0:
        yield n
        n -= 1

countdown_generator = countdown(10)

print("Counting down using a for loop with try/except inside:")
for number in countdown_generator:
    try:
        # Simulate an error for a specific number (e.g., trying to divide by zero)
        if number == 0:
            # This will cause a ZeroDivisionError
            result = 10 / (number - 5)
            print(f"Result for {number}: {result}")
        else:
            print(f"Number: {number}")
    except ZeroDivisionError:
        print(f"Error: Tried to divide by zero when number was {number}. Skipping this step.")
    except Exception as e: # Catch any other unexpected errors
        print(f"An unexpected error occurred for {number}: {e}")

print("\nFinished iterating through the generator.")

Counting down using a for loop with try/except inside:
Number: 10
Number: 9
Number: 8
Number: 7
Number: 6
Number: 5
Number: 4
Number: 3
Number: 2
Number: 1

Finished iterating through the generator.

## **Python Built-in Exceptions**

In [155]:
# ArithmeticError – base class for all arithmetic-related errors
try:
    x = 1 / 0
except ArithmeticError as e:
    print("Caught ArithmeticError:", e)

Caught ArithmeticError: division by zero

In [156]:
# AssertionError – when assert fails
try:
    assert 2 + 2 == 5, "2 + 2 is not equal to 5"
except AssertionError as e:
    print("Caught AssertionError:", e)

Caught AssertionError: 2 + 2 is not equal to 5

In [157]:
# AttributeError – invalid attribute access
try:
    [].no_such_method()
except AttributeError as e:
    print("Caught AttributeError:", e)

Caught AttributeError: 'list' object has no attribute 'no_such_method'

In [158]:
# Exception – base class for all exceptions
try:
    raise Exception("Generic exception")
except Exception as e:
    print("Caught Exception:", e)

Caught Exception: Generic exception

In [159]:
# EOFError – input hits EOF (simulated)
try:
    import io
    f = io.StringIO("")
    input = f.readline  # override input
    if input() == "":
        raise EOFError("Reached EOF")
except EOFError as e:
    print("Caught EOFError:", e)

Caught EOFError: Reached EOF

In [160]:
# FloatingPointError – must be enabled manually
import numpy
numpy.seterr(all='raise')
try:
    numpy.divide(1.0, 0.0)
except FloatingPointError as e:
    print("Caught FloatingPointError:", e)

Caught FloatingPointError: divide by zero encountered in divide

In [161]:
# GeneratorExit – raised by generator when closed
def my_gen():
    try:
        yield 1
    except GeneratorExit:
        print("Caught GeneratorExit inside generator")

g = my_gen()
next(g)
g.close()

Caught GeneratorExit inside generator

In [162]:
# ImportError – bad import
try:
    import nonexistent_module
except ImportError as e:
    print("Caught ImportError:", e)

# IndentationError – cannot be raised at runtime (syntax error)

Caught ImportError: No module named 'nonexistent_module'

In [163]:
# IndexError – invalid list index
try:
    [1, 2, 3][5]
except IndexError as e:
    print("Caught IndexError:", e)

Caught IndexError: list index out of range

In [164]:
# KeyError – missing dict key
try:
    {}['missing']
except KeyError as e:
    print("Caught KeyError:", e)

Caught KeyError: 'missing'

In [165]:
# LookupError – base class for IndexError, KeyError, etc.
try:
    ''.index('x')
except LookupError as e:
    print("Caught LookupError:", e)

ValueError: substring not found

In [166]:
# MemoryError – hard to simulate reliably, but manually:
try:
    raise MemoryError("Out of memory")
except MemoryError as e:
    print("Caught MemoryError:", e)

Caught MemoryError: Out of memory

In [167]:

# NameError – undefined variable
try:
    print(undefined_var)
except NameError as e:
    print("Caught NameError:", e)

Caught NameError: name 'undefined_var' is not defined

In [168]:
# NotImplementedError – abstract method not implemented
try:
    class Base:
        def do_something(self):
            raise NotImplementedError("Override this")
    Base().do_something()
except NotImplementedError as e:
    print("Caught NotImplementedError:", e)

Caught NotImplementedError: Override this

In [169]:
# OSError – system-level error (e.g. file not found)
try:
    open("/path/does/not/exist.txt")
except OSError as e:
    print("Caught OSError:", e)

Caught OSError: [Errno 2] No such file or directory: '/path/does/not/exist.txt'

In [170]:
# OverflowError – math result too large
try:
    import math
    math.exp(1000)
except OverflowError as e:
    print("Caught OverflowError:", e)

Caught OverflowError: math range error

In [171]:
# ReferenceError – weak reference expired
import weakref
import gc
class Temp: pass
t = Temp()
r = weakref.ref(t)
del t
gc.collect()
try:
    print(r())
except ReferenceError as e:
    print("Caught ReferenceError:", e)

None

In [172]:
# RuntimeError – generic run-time error
try:
    raise RuntimeError("Something went wrong")
except RuntimeError as e:
    print("Caught RuntimeError:", e)

Caught RuntimeError: Something went wrong

In [173]:
# StopIteration – raised by next() at end of iterator
try:
    iter_obj = iter([])
    next(iter_obj)
except StopIteration as e:
    print("Caught StopIteration:", e)

Caught StopIteration:

In [174]:
# SyntaxError – must be raised manually or caught during compilation
try:
    exec('x === y')
except SyntaxError as e:
    print("Caught SyntaxError:", e)

Caught SyntaxError: invalid syntax (<string>, line 1)

In [175]:
# SystemError – internal Python error
try:
    raise SystemError("Internal Python error")
except SystemError as e:
    print("Caught SystemError:", e)

Caught SystemError: Internal Python error

In [176]:
# SystemExit – sys.exit()
import sys
try:
    sys.exit("Exiting program")
except SystemExit as e:
    print("Caught SystemExit:", e)

Caught SystemExit: Exiting program

In [177]:
# TypeError – invalid type operation
try:
    '2' + 2
except TypeError as e:
    print("Caught TypeError:", e)

Caught TypeError: can only concatenate str (not "int") to str

In [178]:
# UnboundLocalError – using local variable before assignment
try:
    def test():
        print(x)
        x = 2
    test()
except UnboundLocalError as e:
    print("Caught UnboundLocalError:", e)

Caught UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [179]:
# UnicodeError – base class for Unicode* errors
try:
    b = b'\xff'
    b.decode('utf-8')
except UnicodeError as e:
    print("Caught UnicodeError:", e)

Caught UnicodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [180]:
# UnicodeEncodeError
try:
    '你好'.encode('ascii')
except UnicodeEncodeError as e:
    print("Caught UnicodeEncodeError:", e)

Caught UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)

In [181]:
# UnicodeDecodeError
try:
    b'\xff'.decode('utf-8')
except UnicodeDecodeError as e:
    print("Caught UnicodeDecodeError:", e)

Caught UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [182]:
# UnicodeTranslateError – usually during .translate()
try:
    raise UnicodeTranslateError("utf-8", 0, 1, "reason")
except UnicodeTranslateError as e:
    print("Caught UnicodeTranslateError:", e)

Caught UnicodeTranslateError: can't translate character '\x75' in position 0: reason

In [183]:
# ValueError – wrong value for type
try:
    int("hello")
except ValueError as e:
    print("Caught ValueError:", e)

Caught ValueError: invalid literal for int() with base 10: 'hello'

In [184]:
# ZeroDivisionError – divide by 0
try:
    1 / 0
except ZeroDivisionError as e:
    print("Caught ZeroDivisionError:", e)

Caught ZeroDivisionError: division by zero

## **Python Random Module**

In [15]:
import random
random.seed(20)
print(random.randint(1, 10))  # Same result every time when seed is fixed

3

In [ ]:
print(random.randint(1, 100))  # Random integer between 1 and 100

34

In [ ]:
print(random.randrange(0, 10, 2))    # Random even number from 0 to 8

0

In [19]:
print(random.random())

0.5729406692492218

In [20]:
print(random.uniform(1.5, 3.5))  # Example: 2.79

1.8387561742511398

In [21]:
colors = ['red', 'green', 'blue']
print(random.choice(colors))  # Randomly picks one color

green

In [ ]:
print(random.choices([1, 2, 3], k=5))  # List of random items with replacement

[2, 1, 1, 2, 2]

In [ ]:
print(random.sample([10, 20, 30, 40], k=2))

[40, 10]

In [26]:
nums = [1, 2, 3, 4]
random.shuffle(nums)
print(nums)  # Order is changed randomly

[3, 1, 2, 4]

In [25]:
print(random.gauss(0, 1))  # Mean = 0, Std Dev = 1

-0.20946377943965683

### **List Comprihension**

In [10]:
fruits = ["apple", "banana", "melon", "mango"]
new_list = []
[x for x in fruits]

['apple', 'banana', 'melon', 'mango']

### **Decorator Funtions**

In [ ]:
def my_decorator(func):
    def wrapper():
        print("Function execution started.")
        func()
        print("Function execution completed.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Something before the function runs.
Hello!
Something after the function runs.

In [4]:
def log_call(func):
    def wrapper(*args, **kwargs):
        print(f"[LOG.....]: Calling function: {func.__name__}")
        result = func(*args, **kwargs)
        print(f"[LOG.....]: {func.__name__} returned: {result}")
        return result
    return wrapper

@log_call
def add(a, b):
    return a + b

add(5, 3)

[LOG.....]: Calling function: add
[LOG.....]: add returned: 8

8

In [8]:
def require_admin(func):
    def wrapper(user):
        if user != "admin":
            print("Access denied. Only admin can do this.")
        else:
            print("Database access is guranted.")
            return
        return func(user)
    return wrapper

@require_admin
def delete_database(user):
    print(f"Database deleted by {user}")

delete_database("guest")  # Not allowed
delete_database("admin")  # Allowed

Access denied. Only admin can do this.
Database deleted by guest
Database access is guranted.

In [11]:
import time

def timer(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f"{func.__name__} took {end - start:.4f} seconds for execution.")
        return result
    return wrapper

@timer
def function():
    time.sleep(2)
    return "Done"

function()

function took 2.0005 seconds for execution.

'Done'

In [12]:
def simple_cache(func):
    cache = {}
    def wrapper(n):
        if n in cache:
            print(f"Fetching from cache: {n}")
            return cache[n]
        result = func(n)
        cache[n] = result
        return result
    return wrapper

@simple_cache
def square(n):
    print(f"Calculating square of {n}")
    return n * n

square(4)  # Calculated
square(4)  # Cached

Calculating square of 4
Fetching from cache: 4

16